/* Fonts */
@font-face {
  font-family: inter;
  src: url(./assets/fonts/Inter-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: inter;
  src: url(./assets/fonts/Inter-ExtraLight.ttf);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: inter;
  src: url(./assets/fonts/Inter-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: inter;
  src: url(./assets/fonts/Inter-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: inter;
  src: url(./assets/fonts/Inter-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: inter;
  src: url(./assets/fonts/Inter-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: inter;
  src: url(./assets/fonts/Inter-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: inter;
  src: url(./assets/fonts/Inter-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: inter;
  src: url(./assets/fonts/Inter-Black.ttf);
  font-style: normal;
  font-weight: 900;
}


body {
  margin: 0;
  font-family: 'inter';
  font-weight: 500;
  font-size: 1.2rem;
  background-color: #F7F9FA;
  color: #000000
}
